[Unit]
Description=Get data from victron phoenix
After=mosquitto.service
RestartSec=5
StartLimitBurst=10

[Service]
WorkingDirectory=/opt/victron
ExecStart=/opt/victron/victron.py -d 3
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
